<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
	<table>
		<tbody>
		<foreach $userList as $list>
			<tr data-id="{$list.user_id}">
				<td class="sign">
					<div style="width: 24px;"><i class="ico-check"></i></div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 40px;">{$list.user_id}</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 150px;">{$list.nickname}</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 50px;">会员等级</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 50px;">{$list.total_amount}</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 150px;"></div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 30px;">0</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 30px;">0</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 30px;">0</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 80px;"></div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 60px;">0.00</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 60px;">0</div>
				</td>
				<td align="left" class="">
					<div style="text-align: center; width: 120px;">{}</div>
				</td>
				<td align="center" class="handle">
					<div style="text-align: center; width: 170px; max-width:250px;">
						<a class="btn blue" href=""><i class="fa fa-pencil-square-o"></i>详情</a>
						<a class="btn blue" href=""><i class="fa fa-search"></i>资金</a>
						<a class="btn blue" href=""><i class="fa fa-steam"></i>收货地址</a>
					</div>
				</td>
				<td align="" class="" style="width: 100%;">
					<div>&nbsp;</div>
				</td>
			</tr>
		</foreach>
		</tbody>
	</table>
</div>
<!-- 分页位置 -->
{$pager->show()}

<script type="text/javascript" src="__PUBLIC__/static/js/jquery.js"></script>
<script type="text/javascript">
    function ajax_get_table(tab, page){

        cur_page = page; // 当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/index.php/Backend/user/ajaxindex/p/"+page, // +tab
            data: $('#'+tab).serialize(), // tab -> formid
            success: function(data){
                console.log(data);
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }

        });
    }

	$(".pagination a").click(function(){
	    var page = $(this).data('p');
	    console.log(page);
	    ajax_get_table('search-form2', page);
	});
</script>