<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">


<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>会员管理</h3>
				<h5>网站系统会员索引与管理</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>会员列表管理, 可以给会员群发站内信、邮件等.</li>
			<li>分销系统可以查看会员上下级信息.</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>会员列表</h3>
				<!-- 会员总记录数 -->
				<h5>(共<span id="user_count">待输出总记录数</span>条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" method="post" id="search-form2">
				<input type="hidden" name="order_by" value="user_id">
				<input type="hidden" name="sort" value="desc">
				<input type="hidden" name="account" value="" id="account">
				<input type="hidden" name="nickname" value="" id="nickname">
				<input type="hidden" name="user_ids" value="" id="user_ids">
				<!--分销时查看下级人数都有哪些-->
				<input type="hidden" name="first_leader" value="">
				<input type="hidden" name="second_leader" value="">
				<input type="hidden" name="third_leader" value="">
				<div class="sDiv">
					<div class="sDiv2">
						<select class="select" name="search_type" id="search_type">
							<option value="nickname">会员昵称</option>
							<option value="search_key">会员账户</option>
						</select>
						<input type="text" id="search_key" size="30" class="qsbox" placeholder="查询" value="">
						<input type="button" class="btn" onclick="" value="搜索">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="user_id" axis="col3" class="">
							<div style="text-align: center; width: 40px;" class="">ID</div>
						</th>
						<th align="left" abbr="nickname" axis="col4" class="">
							<div style="text-align: center; width: 150px;" class="">会员昵称</div>
						</th>
						<th align="center" abbr="level" axis="col5" class="">
							<div style="text-align: center; width: 50px;" class="">会员等级</div>
						</th>
						<th align="center" abbr="total_amount" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">累计消费</div>
						</th>
						<th align="center" abbr="email" axis="col6" class="">
							<div style="text-align: center; width: 150px;" class="">邮件地址</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 30px;" class="">一级下线数</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 30px;" class="">二级下线数</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 30px;" class="">三级下线数</div>
						</th>
						<th align="center" abbr="mobile" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">手机号码</div>
						</th>
						<th align="center" abbr="user_money" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">余额</div>
						</th>
						<th align="center" abbr="pay_points" axis="col6" class="">
							<div style="text-align: center; width: 60px;" class="">积分</div>
						</th>
						<th align="center" abbr="reg_time" axis="col6" class="">
							<div style="text-align: center; width: 120px;" class="">注册日期</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<div class="fbutton">
					<a href="">
						<div class="add" title="添加会员">
							<span><i class="fa fa-plus"></i>添加会员</span>
						</div>
					</a>
				</div>
				<div class="fbutton">
					<a href="javascript:;" onclick="">
						<div class="add" title="导出会员">
							<span><i class="fa fa-share"></i>导出会员</span>
						</div>
					</a>
				</div>
				<div class="fbutton">
					<a onclick="">
						<div class="add" title="发送站内信">
							<span><i class="fa fa-send"></i>发送站内信</span>
						</div>
					</a>
				</div>
				<div class="fbutton">
					<a onclick="">
						<div class="add" title="发送邮件">
							<span><i class="fa fa-send-o"></i>发送邮件</span>
						</div>
					</a>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;" id="ajax_return">
		</div>
	</div>
</div>
<script type="text/javascript">
	// ajax抓取页面
	function ajax_get_table(tab, page){

	    cur_page = page; // 当前页面 保存为全局变量
		$.ajax({
			type: "POST",
			url: "/index.php/Backend/user/ajaxindex/p/"+page, // +tab
			data: $('#'+tab).serialize(), // tab -> formid
			success: function(data){
			    console.log(data);
			    $("#ajax_return").html('');
			    $("#ajax_return").append(data);
			}

		});
	}
</script>
</body>
</html>