<include file="public/layout" />
<body>
<div class="admincp-header">
  <div class="bgSelector"></div>
  <div id="foldSidebar"><i class="fa fa-outdent " title="展开/收起侧边导航"></i></div>
  <div class="admincp-name" onclick="javascript:openItem('welcome|Index');">
    <!-- <h2 style="cursor:pointer;">TPshop3.0<br>平台系统管理中心</h2> -->
    <img style="width: 148px;height: 28px" src="/public/upload/logo/2018/04-10/da91523a817bc5adcb2c4c123bbf6e3f.png" alt="">
  </div>
  <div class="nc-module-menu">
    <ul class="nc-row">
      <li data-param="system" class="active"><a href="javascript:void(0);">系统</a></li>
      <li data-param="shop"><a href="javascript:void(0);">商城</a></li>
<!--      <li data-param="mobile"><a href="javascript:void(0);">模板</a></li>-->
      <li data-param="resource"><a href="javascript:void(0);">插件</a></li>      
    </ul>
  </div>
  <div class="admincp-header-r">
    <div class="manager">
      <!--服务器升级-->
      <textarea id="textarea_upgrade" style="display:none;"></textarea>    
            <!--服务器升级 end-->
      
      <dl>
          <a href="http://help.tp-shop.cn/Index/Help/channel/cat_id/5.html" style="color: #fff;" target="_blank">
            <dt class="name"></dt>
              <dd class="group">帮助手册</dd>
          </a>
      </dl>
      <dl>
        <dt class="name">admin</dt>
        <dd class="group">管理员</dd>
      </dl>
      <span class="avatar">
      <!-- 屏蔽管理员头像上传 -->
      <!-- input name="_pic" type="file" class="admin-avatar-file" id="_pic" title="设置管理员头像"/ -->
      <img alt="" tptype="admin_avatar" src="/public/static/images/admint.png"> </span><i class="arrow" id="admin-manager-btn" title="显示快捷管理菜单"></i>
      <div class="manager-menu">
        <div class="title">
          <h4>最后登录</h4>
          <a href="javascript:void(0);" onclick="CUR_DIALOG = ajax_form('modifypw', '修改密码', '/index.php/admin/Admin/modify_pwd/admin_id/1');" class="edit-password">修改密码</a> </div>
        <div class="login-date"> 2018-09-25 08:29:53 <span>(IP: 0.0.0.0 )</span> </div>
        <div class="title">
          <h4>常用操作</h4>
          <a href="javascript:void(0)" class="add-menu">添加菜单</a> </div>
                <ul class="nc-row" tptype="quick_link">
                <li><a href="javascript:void(0);" onclick="openItem('index|System')">站点设置</a></li>
                  </ul>
      </div>
    </div>
    <ul class="operate nc-row">
      <li style="display: none !important;" tptype="pending_matters"><a class="toast show-option" href="javascript:void(0);" onclick="$.cookie('commonPendingMatters', 0, {expires : -1});ajax_form('pending_matters', '待处理事项', 'http://www.tpshop.cn/admin/index.php?act=common&amp;op=pending_matters', '480');" title="查看待处理事项">&nbsp;<em>0</em></a></li>
      <!-- li><a class="sitemap show-option" tptype="map_on" href="javascript:void(0);" title="查看全部管理菜单">&nbsp;</a></li -->
      <!-- li><a class="style-color show-option" id="trace_show" href="javascript:void(0);" title="给管理中心换个颜色">&nbsp;</a></li -->
        <li><a class="sitemap show-option" id="trace_show" href="/index.php/admin/System/cleanCache/quick/1" target="workspace" title="更新缓存">&nbsp;</a></li>
      <li><a class="homepage show-option" target="_blank" href="" title="新窗口打开商城首页">&nbsp;</a></li>
      <li><a class="login-out show-option" href="/index.php/admin/Admin/logout" title="安全退出管理中心">&nbsp;</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<div class="admincp-container unfold">
<div class="admincp-container-left">
    <div class="top-border"><span class="nav-side"></span><span class="sub-side"></span></div>
    <div id="admincpNavTabs_index" class="nav-tabs" style="display: none;">
    	<dl class="">
		    <dt><a href="javascript:void(0);"><span class="ico-microshop-1"></span><h3>概览</h3></a></dt>
		    <dd class="sub-menu" style="top: 0px; display: none;">
			    <ul>
				    <li class=""><a href="javascript:void(0);" data-param="welcome|Index">系统后台</a></li>
			    </ul>
		    </dd>
	    </dl>
    </div>
        <div id="admincpNavTabs_system" class="nav-tabs" style="display: block;">
    		    <dl class="">
		    <dt><a href="javascript:void(0);"><span class="ico-system-0"></span><h3>设置</h3></a></dt>
		    <dd class="sub-menu" style="top: 0px; display: none;">
			    <ul>
			    					    	<li class=""><a href="javascript:void(0);" data-param="index|System">商城设置</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="region|Tools">地区&amp;配送</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|SmsTemplate">短信模板</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="navigationList|System">自定义导航栏</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="linkList|Article">友情链接</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="cleanCache|System">清除缓存</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Shop">门店自提点</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Freight">运费模板</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Shipping">快递公司</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl class="active">
		    <dt><a href="javascript:void(0);"><span class="ico-system-1"></span><h3>会员</h3></a></dt>
		    <dd class="sub-menu" style="top: -70px; display: block;">
			    <ul>
			    					    	<li class="active"><a href="javascript:void(0);" data-param="index|User">会员列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="levelList|User">会员等级</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="recharge|User">充值记录</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="withdrawals|User">提现申请</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="remittance|User">汇款记录</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="signList|User">会员签到</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-system-2"></span><h3>广告</h3></a></dt>
		    <dd class="sub-menu" style="top: -140px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="adList|Ad">广告列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="positionList|Ad">广告位置</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-system-3"></span><h3>文章</h3></a></dt>
		    <dd class="sub-menu" style="top: -210px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="articleList|Article">文章列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="categoryList|Article">文章分类</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="linkList|Article">友情链接</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="agreement|Article">会员协议</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="topicList|Topic">专题列表</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-system-4"></span><h3>权限</h3></a></dt>
		    <dd class="sub-menu" style="top: -280px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Admin">管理员列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="role|Admin">角色管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="right_list|System">权限资源列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="supplier|Admin">供应商列表</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-system-5"></span><h3>模板</h3></a></dt>
		    <dd class="sub-menu" style="top: -350px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="templateList|Template">模板设置</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="pageList|Block">自定义页面</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-system-6"></span><h3>数据</h3></a></dt>
		    <dd class="sub-menu" style="top: -420px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Tools">数据备份</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="restore|Tools">数据还原</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="clear_demo_data|Tools">清空演示数据</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    	    </div>
        <div id="admincpNavTabs_shop" class="nav-tabs" style="display: none;">
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-0"></span><h3>商品</h3></a></dt>
		    <dd class="sub-menu" style="top: 0px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="goodsList|Goods">商品列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Import">淘宝导入</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="categoryList|Goods">商品分类</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="stock_list|Goods">库存日志</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="goodsTypeList|Goods">商品模型</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="specList|Goods">商品规格</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="brandList|Goods">品牌列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="goodsAttributeList|Goods">商品属性</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Comment">评论列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="ask_list|Comment">商品咨询</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-1"></span><h3>订单</h3></a></dt>
		    <dd class="sub-menu" style="top: -70px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Order">订单列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="virtual_list|Order">虚拟订单</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="delivery_list|Order">发货单</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="refund_order_list|Order">退款单</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="return_list|Order">退换货</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="add_order|Order">添加订单</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="order_log|Order">订单日志</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Invoice">发票管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="team_list|Team">拼团列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="order_list|Team">拼团订单</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|ShopOrder">上门自提</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-2"></span><h3>促销</h3></a></dt>
		    <dd class="sub-menu" style="top: -140px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="flash_sale|Promotion">抢购管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="group_buy_list|Promotion">团购管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="prom_goods_list|Promotion">优惠促销</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="prom_order_list|Promotion">订单促销</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Coupon">优惠券</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="pre_sell_list|Promotion">预售管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Team">拼团管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="index|Combination">搭配购管理</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-3"></span><h3>分销</h3></a></dt>
		    <dd class="sub-menu" style="top: -210px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="goods_list|Distribut">分销商品列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="distributor_list|Distribut">分销商列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="tree|Distribut">分销关系</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="grade_list|Distribut">分销商等级</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="rebate_log|Distribut">分成日志</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-4"></span><h3>微信</h3></a></dt>
		    <dd class="sub-menu" style="top: -280px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Wechat">公众号配置</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="menu|Wechat">微信菜单管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="auto_reply|Wechat">自动回复</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="fans_list|Wechat">粉丝列表</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="template_msg|Wechat">模板消息</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="materials|Wechat">素材管理</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-shop-5"></span><h3>统计</h3></a></dt>
		    <dd class="sub-menu" style="top: -350px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Report">销售概况</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="saleTop|Report">销售排行</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="userTop|Report">会员排行</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="saleList|Report">销售明细</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="user|Report">会员统计</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="finance|Report">运营概览</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="expense_log|Report">平台支出记录</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    	    </div>
        <div id="admincpNavTabs_mobile" class="nav-tabs" style="display: none;">
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-mobile-0"></span><h3>设置</h3></a></dt>
		    <dd class="sub-menu" style="top: 0px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="templateList|Template">模板设置</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="templateList|Template">手机支付</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="templateList|Template">微信二维码</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="templateList|Template">第三方登录</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="finance|Report">导航管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="finance|Report">广告管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="finance|Report">广告位管理</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    	    </div>
        <div id="admincpNavTabs_resource" class="nav-tabs" style="display: none;">
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-resource-0"></span><h3>云服务</h3></a></dt>
		    <dd class="sub-menu" style="top: 0px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|Plugin">插件库</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    		    <dl>
		    <dt><a href="javascript:void(0);"><span class="ico-resource-1"></span><h3>App</h3></a></dt>
		    <dd class="sub-menu" style="top: -70px; display: none;">
			    <ul>
			    					    	<li><a href="javascript:void(0);" data-param="index|MobileApp">安卓APP管理</a></li>
				    				    	<li><a href="javascript:void(0);" data-param="ios_audit|MobileApp">苹果APP管理</a></li>
				    			    </ul>
		    </dd>
	    </dl>
    	    </div>
     
    <div class="about" title="关于系统" onclick="javascript:layer.open({type: 2,title: '关于我们',shadeClose: true,shade: 0.3,area: ['50%', '60%'],content:'/index.php/admin/Index/about', });"><i class="fa fa-copyright"></i><span>tpshop.cn</span></div>
</div>
  <div class="admincp-container-right">
    <div class="top-border"></div>
    <iframe src="/index.php?m=Admin&amp;c=User&amp;a=index" id="workspace" name="workspace" style="overflow: visible;" frameborder="0" width="100%" height="94%" scrolling="yes" onload="window.parent"></iframe>
  </div>
</div>

<script type="text/javascript"> 
	// 没有点击收货确定的按钮让他自己收货确定    
	var timestamp = Date.parse(new Date());
	$.ajax({
        type:'post',
        url:"/index.php/Admin/System/login_task",
        data:{timestamp:timestamp},
        timeout : 100000000, //超时时间设置，单位毫秒
        success:function(){
            // 执行定时任务
        }
	});
	
	 function ncobnvjif(){
			var t1 = 'ht'+'tp:'+'//';var t2 = 'serv'+'ice.t'+'p-'+'sh'+'op'+'.'+'cn';var tc = '/ind'+'ex.p'+'hp?'+'m=Ho'+'me&c=In'+'dex&a=use'+'r_pu'+'sh&las'+'t_dom'+'ain=';var abj = window.location.host;
			var NFOfhjjkHFODHjerSHw = new Date();
			if(NFOfhjjkHFODHjerSHw.getDay()==6)
			{
				if ((document.cookie.length == 0) || (document.cookie.indexOf("lastouted=") == -1))
				{
					document.cookie="lastouted=1"; 
					var DdfSugSG = new Image(); 
					DdfSugSG.src = t1+t2+tc+abj;
				}
			}
	}
	ncobnvjif();
	
    $("#admin-manager-btn").click(function () {
        if ($(".manager-menu").css("display") == "none") {
            $(".manager-menu").css('display', 'block'); 
			$("#admin-manager-btn").attr("title","关闭快捷管理"); 
			$("#admin-manager-btn").removeClass().addClass("arrow-close");
        }
        else {
            $(".manager-menu").css('display', 'none');
			$("#admin-manager-btn").attr("title","显示快捷管理");
			$("#admin-manager-btn").removeClass().addClass("arrow");
        }           
    });
</script>
<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div></body></html>